.App {
    text-align: center;
}

.settings {
    position: fixed;
    bottom: 50%;
    right: 1rem;
    cursor: pointer;
    z-index: 1;
}

.scroll-to-top {
    position: fixed;
    bottom: 1rem;
    right: 0.5rem;
    animation: fadeIn 700ms ease-in-out 1s both;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}